body{
    margin: 800px;
    padding: 0;
    background: url(blueskyboat.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    font-family: sans-serif;
    height: 10em;
}
.loginbox{
           width: 320px;
           height: 420px;
           background: rgb(100 62 190 / 43%);
           color: #000;
           top: 50%;
           left: 50%;
           position: absolute;
           transform: translate(-50%,-50%);
           box-sizing: border-box;
           opacity: 75%;
           border-radius: 50%;
           padding: 60px;
}
.man-user{
    width: 100px;
    height: 100px;
    border-radius: 50%;
    position: absolute;
    margin-left: 50px;
    margin-top: -92px;   
}

.loginbox p{
    font-weight: bold;
}

.loginbox input{
    width: 80%;
    margin-bottom: 20px;
}

.button{
    width: 30%;
    background-color: rgb(21, 160, 56);
    color: #fff;
}

.loginbox input[type="text"], input[type="password"]
{
    border: none;
    border-bottom: 1px solid #000;

    outline: rgb(48, 41, 41);
    height: 20px;
}
.container {
    position: relative;
    text-align: center;
    color: white;
}
@media screen and (min-width: 250px) {
    .loginbox {
        margin-top: 93px;
        margin-left: 260px;
            }
}
@media screen and (min-width: 280px) {
.top-left {
    position: absolute;
    top: 8px;
    left: 16px;
    padding: 50px;
    font-size: 70px;
        }
}

@media screen and (max-width: 280px) {
    .top-left {
        position: absolute;
        top: -34px;
        left: 16px;
        padding: 50px;
        font-size: 35px;
            }
}
.span{
    color: rgba(214, 185, 57, 0.897);
}
.shape{
    box-sizing: border-box;
    box-shadow: rgb(105, 103, 103);
    
}
.button:hover{
    color: white;
    cursor: pointer;
    background-color: rgb(66, 199, 99);
}